.meal{
    padding: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: rgb(228, 208, 10);
    margin-bottom: 10px;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    
}
.meal h1{
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}

.meal p{
    font-style: italic;
    font-weight: lighter;
}

.mealform {
    margin-top: 30px;
}


