.button {
    background-color: #f0c349; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 8px;
    border-radius: 5px;
  }

.btnDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}